
  .rating {
    font-size: 1rem;
    color: #f39c12;
    margin-bottom: 10px;
  }
  
  .btn {
    background-color: #3498db;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
    .btn:hover {
    background-color: #2980b9;
  }
  