.workplace-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    padding: 20px;
  }
  
  .workplace-item {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 20vw;
    max-width: 350px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    height: 400px; /* Фиксированная высота для всех карточек */
    display: flex;
    flex-direction: column;
  }
  
  body.dark-mode .workplace-item {
    background-color: #333;
    color: #e0e0e0;
    border-color: #444;
  }
  
  .workplace-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 5px;
  }
  
  .workplace-item h3 {
    font-size: 1.3rem;
    margin-top: 2px;
    color: #949494;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 5px;
  }
  
  .workplace-item p {
    font-size: 0.95rem;
    color: #777;
    margin-bottom: 1px;
    line-height: 1.3;
    max-height: 50px;
    overflow: hidden;
  }
  
  .rating {
    font-size: 1rem;
    color: #f39c12;
    margin-bottom: 10px;
  }
  
  .btn {
    background-color: #3498db;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
    .btn:hover {
    background-color: #2980b9;
  }
  